<!DOCTYPE html>
<html>
  <head>
    <title>Tubuyakikun</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
    <%= image_tag 'logo.png', class:'logo' %>
    <%= link_to "つぶやき一覧", posts_path %>
    </header>
    <%= yield %>
    <br>
    <br>
    <footer class="footer">
      <a>© 2022 つぶやきサイト</a>
    </footer>
  </body>
</html>

